.frame-367,
.frame-367 * {
  box-sizing: border-box;
}
.frame-367 {
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-202 {
  background: #ffffff;
  border-radius: 10px 10px 4px 4px;
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-201 {
  border-style: solid;
  border-color: var(--border-outline, #6c757d);
  border-width: 0px 0px 0.5px 0px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 80px;
  position: relative;
}
.manage-users {
  color: var(--text, #495057);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.add-user {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.frame-199 {
  background: var(--button-color, #502deb);
  border-radius: 8px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 0px 24px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.tabler-plus {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.add-user2 {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.frame-203 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-198 {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-196 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.show {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-195 {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--border-outline, #6c757d);
  border-width: 0.5px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 88px;
  height: 48px;
  position: relative;
}
._5 {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-197 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.teenyicons-down-solid {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.teenyicons-down-solid2 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.entries {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-194 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-193 {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--border-outline, #6c757d);
  border-width: 0.5px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 91px;
  height: 48px;
  position: relative;
}
.all {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.mingcute-down-line {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.group {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.frame-177 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-175 {
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 1px 0px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 46px;
  position: relative;
}
.frame-182 {
  display: flex;
  flex-direction: row;
  gap: 90px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 50px;
  position: relative;
}
.photo {
  color: var(--text, #495057);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.frame-186 {
  display: flex;
  flex-direction: row;
  gap: 90px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.name {
  color: var(--text, #495057);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.flowbite-sort-outline {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-183 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 127px;
  position: relative;
}
.phone {
  color: var(--text, #495057);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.flowbite-sort-outline2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-184 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.role {
  color: var(--text, #495057);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.flowbite-sort-outline3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-187 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  width: 85px;
  position: relative;
}
.unit {
  color: var(--text, #495057);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.frame-188 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.status {
  color: var(--text, #495057);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.frame-185 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 60px;
  position: relative;
}
.action {
  color: var(--text, #495057);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.frame-190 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1822 {
  background: rgba(0, 94, 14, 0.05);
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 1px 0px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 65px;
  position: relative;
}
.ellipse-16 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: cover;
}
.frame-1862 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 164px;
  position: relative;
}
.derick-ochieng {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-1872 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 127px;
  position: relative;
}
._0756755634 {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-1902 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.resident {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-1882 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 85px;
  position: relative;
}
.c-04 {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-191 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.active {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.actions {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 60px;
  position: relative;
}
.bi-three-dots-vertical {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-176 {
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 1px 0px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 65px;
  position: relative;
}
.haron-mureithi {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
._0744678751 {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.b-04 {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.bi-three-dots-vertical2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-181 {
  background: rgba(0, 94, 14, 0.05);
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 1px 0px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 65px;
  position: relative;
}
.jackson-munene {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
._0709787856 {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.security {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.div {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frozen {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.bi-three-dots-vertical3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-1842 {
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 1px 0px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 65px;
  position: relative;
}
.lucy-wanja {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
._0108978651 {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.bi-three-dots-vertical4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-1832 {
  background: rgba(0, 94, 14, 0.05);
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 1px 0px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 65px;
  position: relative;
}
.mary-adhiambo {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
._0718674563 {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.b-10 {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.bi-three-dots-vertical5 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-208 {
  border-style: solid;
  border-color: transparent;
  border-width: 1px 0px 0px 0px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-207 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-204 {
  background: var(--background, #efe6fd);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--border-outline, #6c757d);
  border-width: 0.5px;
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.previous {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-206 {
  background: var(--button-color, #502deb);
  border-radius: 8px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
._1 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-205 {
  background: var(--background, #efe6fd);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--border-outline, #6c757d);
  border-width: 0.5px;
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.next {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.showing-1-to-5-out-of-20-entries {
  color: var(--text, #495057);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
